<!-- Toolbar -->
<mat-sidenav-container class="sidebar-container">

  <!-- <app-sidebar></app-sidebar> -->
  <mat-sidenav
    #sidenav
    mode="side"
    class="sidebar"
    opened
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0">
    <ul class="list-group">
      <li class="list-group-item">Demo</li>
      <li class="list-group-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
      <li class="list-group-item"><a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a></li>
      <li *ngIf="isLoggedIn" class="list-group-item"><button id="logout" type="button" class="btn btn-sm btn-outline-dark"(click)="onLogOut()">Log Out</button></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="sidebar-content-container">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
